/* Responsive Form Styles */
.investment-form {
    background-color: #e7f6f6;
    border-radius: 10px;
    padding: 20px;
    max-width: 130%;
    width: 450px;
    margin: auto;
  }
  
  .divider {
    height: 2px;
    color: #b2b2b2;
    margin: 10px 0;
  }
  
  .divider-green {
    height: 2px;
    color: #00a47e;
    margin-top: 30px;
  }
  
  .form-details {
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .payment-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .payment-option {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .terms-checkbox {
    display: flex;
   
    gap: 10px;
    margin-top: 20px;
  }

  .submit-button {
    background-color: #00a47e;
    color: white;
    border: none;
    padding: 10px;
    font-size: 1rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .investment-form {
      width: 90%;
      padding: 15px;
    }
  
    .form-row {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .payment-methods {
      flex-direction: column;
    }
  
    .terms-checkbox {
      flex-direction: column;
    }
  }
  