body {
  font-family: "Poppins", sans-serif;
}
.timeline {
  padding-left: 40px; /* More padding to align with the image */
}

.timeline-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 23px; /* Adjust spacing between timeline items */
}

.bullet-line {
  position: absolute;
  left: 13px;
  top: 0px;
  bottom: -21px;
  width: 2px;
  background-color: #068f66;
  z-index: 0;
}

.circle {
  width: 12px;
  height: 12px;
  background-color: #1ca370; /* Color of circle */
  border-radius: 50%;
  position: absolute;
  left: 8px; /* Align with bullet line */
  z-index: 1;
  top: 12px; /* Centered vertically with date box */
}

.year {
  width: 40px;
  text-align: center;
  font-weight: bold;
  margin-left: -40px;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
  color: #000;
}

.timeline-content {
  margin-left: 30px; /* Space between circle and content */
  display: flex;
  align-items: center;
}

.calendar-container {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: -21px;
}

.date {
  text-align: center;
  background-color: #c8f3f571;
  color: #000;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ddd;
}

.month {
  font-size: 14px;
  margin-bottom: -5px;
  color: #068f66;
}

.day {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #068f66;
}

.event-details {
  flex: 1;
  padding-left: 10px;
  color: #068f66;
}

.title {
  font-size: 14px; /* Ensure the title font size is consistent */
  font-weight: bold;
  margin-bottom: 5px;
  color: #068f66;
}

.details {
  font-size: 14px;
  color: #555;
}

.icon-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

/* Base styles for nav-link */
.nav-link {
  color: #00c194; /* Default text color */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Hover and focus effect */
.nav-link:hover,
.nav-link:focus {
  color: white; /* Text color on hover/focus */
  background-color: #00c194; /* Background color on hover/focus */
}

/* Additional touch feedback for mobile */
.nav-link:active {
  background-color: #00c194; /* Background color on touch */
  color: white; /* Text color on touch */
}

@media (max-width: 320px) {
  .custom-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link {
    position: relative;
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 375px) {
  .custom-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link {
    position: relative;
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 425px) {
  .custom-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link {
    position: relative;
    padding: 0.5rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .custom-container {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Hover effect for mobile view */
@media (max-width: 768px) {
  /* Adjust this breakpoint as needed */
  .nav-link {
    position: relative;
    padding: -0.5rem 4rem !important;
  }

  .nav-link::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00c194; /* Light color for hover effect */

    opacity: 0;
    transition: opacity 0.3s;
    z-index: -1;
  }

  .nav-link:active::after, /* Simulate hover effect on touch */
  .nav-link:focus::after {
    /* Ensure it works when focused */
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .nav-link {
    position: relative;
    padding: -0.5rem 4rem !important;
  }
  .custom-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1200px) {
  .custom-container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link {
    position: relative;
    padding: -0.5rem 4rem !important;
  }
}

@media (min-width: 1400px) {
  .custom-container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-link {
    position: relative;
    padding: -0.5rem 4rem !important;
  }
}
